@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@700&family=Raleway:wght@300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: rgba(0, 0, 27, 1);
}
.container, .row {
  display: flex;
  justify-content: space-around;
}
.meta {
    margin-top: 5rem;
}
.controls {
  margin: 0 auto 2rem;;
  border: 8px solid #b00;
  background-color: #b00;
  border-radius: 10px;
  padding: 0 3rem 3rem 3rem;
  max-width: 600px;
}
.row {
  background-color: rgba(0, 0, 27, 1);
  padding: 1rem;
}
h1 {
  font-family: 'Grandstander', cursive;
  text-align: center;
  font-size: 5rem;
  color: darkgreen;
}
h2 {
  font-family: 'Grandstander', cursive;
  text-align: center;
  font-size: 3rem;
  background-color: #b00;
  color: white;
  display: block;
  margin-top: 1rem;
}
input {
  width: 2rem;
  height: 2rem;
}
label {
  color: white;
  font-size: 2rem;
}

.bulb {
  background-color: rgba(200, 200, 200, 0.3);
  width: 2.5rem;
  height: 6rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 90%;
  margin: 2.3rem 4rem;
  transition-duration: 400ms;
}
.bulb:before {
  content: " ";
  position: relative;
  top: -2.3rem;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: darkgreen;
  background: linear-gradient(90deg, #006400 50%, #00A300 100%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.bulb:after {
  content: " ";
  position: relative;
  display: block;
  z-index: -1;
  top: -5.5rem;
  left: 1.5rem;
  width: 10rem;
  height: 2.5rem;
  border-bottom: 4px solid darkgreen;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.bulb:last-child:after {
  display: none;
}

.blinkRed{
  animation: blinkRed 0.5s infinite;
}
.blinkBlue{
  animation: blinkBlue 0.5s infinite;
  animation-delay: 250ms;
}

@keyframes blinkRed {
    from { background-color: rgba(255, 200, 200, 0.3); }
    50% { box-shadow:   inset 0 0 15px rgba(255, 255, 255, 1),
          inset 20px 0 20px rgba(255, 0, 0, 1),
          inset -20px 0 20px rgba(255, 153, 153, 1),
          inset 20px 0 40px rgba(255, 0, 0, 1),
          inset -20px 0 40px rgba(255, 153, 153, 1),
          0 0 10px rgba(255, 255, 255, 1),
          -10px 0 30px rgba(255, 0, 0, 1),
          0 0 50px 20px rgba(255, 0, 0, 1),
          10px 0 30px 10px rgba(255, 153, 153, 1);
        }
    to { background-color: rgba(255, 200, 200, 0.3); }
}
@keyframes blinkBlue {
    from { background-color: rgba(200, 200, 255, 0.3); }
    50% { box-shadow:   inset 0 0 15px rgba(255, 255, 255, 1),
          inset 20px 0 20px rgba(0, 0, 255, 1),
          inset -20px 0 20px rgba(153, 153, 255, 1),
          inset 20px 0 40px rgba(0, 0, 255, 1),
          inset -20px 0 40px rgba(153, 153, 255, 1),
          0 0 10px rgba(255, 255, 255, 1),
          -10px 0 30px rgba(0, 0, 255, 1),
          0 0 50px 20px rgba(0, 0, 255, 1),
          10px 0 30px 10px rgba(153, 153, 255, 1);
        }
    to { background-color: rgba(200, 200, 255, 0.3); }
}

.red-glow {
  box-shadow:   inset 0 0 15px rgba(255, 255, 255, 1),
        inset 20px 0 20px rgba(255, 0, 0, 1),
        inset -20px 0 20px rgba(255, 153, 153, 1),
        inset 20px 0 40px rgba(255, 0, 0, 1),
        inset -20px 0 40px rgba(255, 153, 153, 1),
        0 0 10px rgba(255, 255, 255, 1),
        -10px 0 30px rgba(255, 0, 0, 1),
        0 0 50px 20px rgba(255, 0, 0, 1),
        10px 0 30px 10px rgba(255, 153, 153, 1);
}
.blue-glow {
  box-shadow:   inset 0 0 15px rgba(255, 255, 255, 1),
        inset 20px 0 20px rgba(0, 0, 255, 1),
        inset -20px 0 20px rgba(153, 153, 255, 1),
        inset 20px 0 40px rgba(0, 0, 255, 1),
        inset -20px 0 40px rgba(153, 153, 255, 1),
        0 0 10px rgba(255, 255, 255, 1),
        -10px 0 30px rgba(0, 0, 255, 1),
        0 0 50px 20px rgba(0, 0, 255, 1),
        10px 0 30px 10px rgba(153, 153, 255, 1);
}
